<div class="container">

<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Title</th>
      <th>Url</th>
      <th>Pub</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->


    <% @articles.each do |article| %>
    <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="..." alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= article.title %></h4>
      <h3><%= article.pub %></h3>
      <p><%= article.body %></p>
      <span><%= link_to 'Show', article %></span>

    </div>
    </div>

    <% end %>

<br>





<%= link_to 'New Article', new_article_path %>
</div>
