<div class="jumbotron jumbotron-fluid jumbotron-white">
  <div class="container">
    <h1 class="header-date"><%= Date.today.strftime("%A, %B %-d, %Y") %></h1>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xs-11">
      <% @articles.each do |article| %>

          <div class="media">
            <div class="media-left media-middle">
              <%= link_to article do %>
                <%=
                  image_tag(
                    (article.media.first ? article.media.first.image : "http://placehold.it/80x80"),
                    class: 'media-object rounded-circle'
                  )
                %>
              <% end %>
            </div>
            <div class="media-body">
              <div class="article-category">
                <%= article.category.title %>
              </div>
              <%= link_to article do %>
                <h4 class="article-title"><%= article.title %></h4>
                <!-- <p><% truncate(article.body, length: 300) %></p> -->
              <% end %>
            </div>
          </div>
        <hr>
      <% end %>
    </div>
  </div>

  <br>

</div>
