<div class="container">

<p id="notice"><%= notice %></p>

    <% @articles.each do |article| %>
    <div class="media">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object rounded-circle" src="http://placehold.it/105x105" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= article.title %></h4>
      <p><%= article.body %></p>
      <span><%= link_to 'Show', article %></span>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
    </div>
    <hr>

    <% end %>

<br>

</div>
