
<section class='article-header' style="background-image: url('https://b.fastcompany.net/multisite_files/fastcompany/imagecache/w/1920/h/1080/scale/poster/2016/12/3066274-poster-p-1-the-snoo-baby-sleeper-the-best-crib-most-parents-can-only-dream-about.jpg')">
</section>
<p id="notice"><%= notice %></p>
<div class="container article-padding-bottom">
  <div class="row flex-items-xs-center">
    <div class="col-xs-11">
      <div class="article-category lead" style="color: <%= @article.category.color %>">
        <%= @article.category.title %>
      </div>
      <div class="article-title">
        <%= @article.title %>
      </div>
      <%= raw @article.body %>
    </div>
  </div>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>

<footer>
  <div class="row flex-items-xs-center">
    <div class="col-xs-12 align">
      <div class="media no-hover">
        <div class="media-left media-middle">
          <%= link_to @next_article do %>
          <%=
          image_tag(
          (@next_article.media.first ? @next_article.media.first.image : "http://placehold.it/80x80"),
          class: 'media-object rounded-circle article-side-image'
            )
            %>
            <% end %>
          </div>
          <div class="media-body">
            <div class="article-category" style="color: <%= @next_article.category.color %>">
              <%= @next_article.category.title %>
            </div>
            <%= link_to @next_article do %>
            <h4 class="article-title"><%= @next_article.title %></h4>
            <!-- <p><% truncate(@next_article.body, length: 300) %></p> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </footer>
