<!DOCTYPE html>
<html>
  <head>
    <title>Protagonist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- CDN for Hammer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" >  </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-full">
      <div class="text-xs-center">
        <a class="navbar-brand" href="#" style="float: none">
          <h1><%= link_to "PROTAGONIST", root_path %></h1>
        </a>
      </div>

    </nav>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= Date.today.to_s %></h1>
  </div>
</div>

    <%= yield %>

  </body>
</html>
